html {
  font: 1rem/1.6 "ff-meta-serif-web-pro", serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

@font-face {
  font-family: JetBrainsMono Regular;
  src: url('./fonts/JetBrainsMono-Regular.ttf');
}

code, textarea, input {
  font: 600 .9rem/1.6 "JetBrainsMono Regular", monospace;
  white-space: pre-wrap;
}

body {
  margin: 0;
}

main {
  margin-top: 10rem;
}

article, aside {
  max-width: max-content;
  margin: 0 auto;
}

.gridded {
  border-top: 2px solid black;
  grid-template-columns: 120px 1fr;
  grid-column-gap: 1rem;
  margin: 2rem;
}

.gridded > :not(label) {
  grid-column-start: 2;
}

#credits {
  background: linear-gradient(135deg, #f2deb0 0%, #efb775 100%);
}

h1, h2, h3 {
  line-height: 1;
  margin-bottom: 0;
}

h1, h2, h3, label {
  font-variant: all-small-caps;
}

h1 {
  font-size: 1.75rem;
}

p {
  color: #222;
  max-width: 65ch;
  hyphens: auto;
}

.introduction {
  font-size: 1.07rem;
  hyphens: none;
  line-height: 1.5;
  max-width: 60ch;
}

.introduction spam:first-of-type {
  font-weight: bold;
}

a {
  text-decoration: none;
}

label {
  text-align: right;
  padding: 2px 0;
  color: darkslategray;
}

label + p {
  border: 1px solid gainsboro;
  height: 7rem;
  margin: .2rem 0;
  overflow: scroll;
}

.logo {
  float: right;
  margin-top: -1rem;
  margin-left: 2rem;
  shape-outside: circle(121px at 137px 86px);
  width: 30%;
}

input[type="text"] {
  border: 1px solid darkgray;
  width: 100%;
}

ul {
  list-style: inside circle;
  padding-left: 0;
}

.flavors {
  display: flex;
  margin-bottom: 1rem;
}

.flavors label {
  color: initial;
  font-variant: normal;
  padding-right: 0.5rem;
  padding-left: 0.25rem;
}

input[type="radio"] {
  vertical-align: baseline;
}

label.regal-form {
  bottom: 9rem;
  font-weight: bold;
}

.regal-form {
  background-color: darkslategray;
  border: .5rem solid darkslategray;
  bottom: 0.5rem;
  color: white;
  height: 9rem;
  padding: 0;
  border-radius: 2px;
  position: sticky;
}

.regal-form textarea {
  border: none;
  height: 100%;
  margin: 0;
  min-width: max-content;
  width: 100%;
  padding: 0;
}

.generator {
  border: 1px solid gainsboro;
  margin-top: 0;
  max-width: 65ch;
  padding-left: 0.5rem;
}

li p {
  padding-left: 1rem;
  margin-top: 0.25rem;
}

li code {
  white-space: no-wrap;
}

button {
  border: 2px solid darkslategray;
  padding: .2rem .5rem;
}

@media (min-width: 768px) {

  html {
    font-size: 1.125rem;
  }
  
  .gridded {
    display: grid;
    border-top: none;
  }
  
  code, textarea, input {
    font-size: 1rem;
  }
  
  h1, h2, h3 {
    line-height: revert;
  }
  
  label.regal-form {
    bottom: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  div.regal-form {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

}